<div id="message-<%= message.id %>">
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><p><%= time_ago_in_words(message.created_at) %></p></i>
  </small>
  <p><%= message.content %></p>
</div>
