<%= link_to pubcrawl_path(pubcrawl), style:"text-decoration:none:" do %>
  <div class="badge rounded-pill fs-6" style="background-color: #C147E9; color:black">
    <%= pubcrawl.name %>
  </div>
<% end %>
