
.item-bot{
  display: inline-flex;
  margin-bottom: 4rem !important;
}
.margleft{
  margin-left: 1.25rem !important;
  border-color: rgb(155, 89, 177) !important;
}

.margright{
  margin-right: 1.25rem !important;
}
