
.img-show {
  width: 75%;
  border-radius: 20px;
  margin-top: 50px;
}

.border {
  width: 50%;
  border: 1px solid white;
  margin-top: 20px;
}

.title-pubcrawl-show {
  color: white;
  margin-top: 25px;
}

.list-review {
  color: #EDEDED;
  list-style: none;
  font-size: 13px;
}
