<div class="container">
  <div class="container">
    <h1><%= @booking.event.pubcrawl.name%></h1>
    <h3><%= @booking.event.date%></h1>
  </div>
<hr>
  <div class="container">
    <p>Are you sure you want to book this pubcrawl ? </p>
    <div class="button-container">
      <%= link_to "Lets go !", event_path(@booking.event), class: 'button-pink-valid' %>
      <%= link_to "Not yet !", pubcrawls_path, class: 'button-pink-invalid' %>
      </div>
  </div>
</div>
