<div class="d-flex justify-content-center">
  <div class="notifications-container position-relative">
    <h3 class="text-center mt-1" style="color: black; text-shadow: 1px 1px 2px white;">Notifications</h3>
    <ul>
      <li><%= link_to "Come back a 9 pm !", pubcrawls_path, class:"text-decoration-none text-dark" %></li>
    </ul>
    <button type="button" class="btn-chat btn position-absolute bottom-0 end-0">
      <i class="fa-regular fa-comments fs-1"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        99+
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
  </div>
</div>


<hr style="color: white; text-align: center">
<h2 style="color: white; text-align: center"> LIVE EVENT</h2>
<h3 style="color: white; text-align: center"> Notifications </h3>
<h4 style="color:white; text-align: center">Event has not started yet.</h4>
<%= link_to "Come back at 9 pm !", pubcrawls_path, class: 'button-pink-valid' %>
