
<div class="container">
  <h1><%= @event.pubcrawl.name%></h1>
  <h4><%= @event.date%></h1>
  <p> <%= @event.chatroom.name %></p>
  <hr style="color: white">
  <h2> LIVE EVENT</h2>
  <h3> Notifications </h3>
  <%= link_to "Come back a 9 pm !", pubcrawls_path, class: 'button-pink-valid' %>
  <hr style="color: white">
  </div>
