


.card-category {
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 150px;
  font-size: 20px;
  // margin-top: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px #FFFFFF;
  // margin-left: 5%;
  // margin-right: 5% ;
  position: relative;
  margin: 20px;
}
.cards-dis{
  overflow-y: scroll;
  margin-top: 5px;
  max-height: 60vh;
}

.deco-none{
  text-decoration: none;
}

#content-container {
  display: flex;
  flex-direction: column;
}

.card-nbr{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15px;
  padding-inline-end: 3px;
  display: none;
}

.card-loc{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  padding-inline-start: 3px;
  color: rgba(239, 11, 190, 0.525);
  text-shadow: 0px 0px 1px white;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
  font-weight: 400;
  display: none;
}

.card-name{
  position: relative;
  top: 55%;
  font-size: 25px;
  color: white;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 5px;
}
.soulign {
  position: relative;
  top: 45%;
  border: 1px solid white;
  box-shadow: 0px -1px 4px rgb(239, 11, 190);
}
