.chatroom {
  background: rgba(0,0,0,0.5);
  color:white !important;
  margin-top: 9px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  color: black;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 15px;

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
