.logo-home {
  width: 100px; /* Réduisez la largeur de votre logo */
  height: 75px; /* Réduisez la hauteur de votre logo */
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  margin: 0 auto; /* Centre horizontalement en utilisant les marges automatiques */
}
