
.wrapper {
  background-color: rgba(0, 0, 0, 0.267);
  border-radius: 15px;
  overflow: hidden;
   box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 20px;
}

.grey {
  color: #999999;
}

.profile-top {
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0px 2px 7px 0px rgba(255, 0, 221, 0.7);
}

.profile-bottom {
  margin-top: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main-infos {
  display: flex;
  align-items: center;
  font-size: 32px;
  margin-bottom: 5px;
  font-weight: 600;
  text-shadow: 0px 2px 7px rgba(255, 0, 221, 0.7);
  color: whitesmoke;
}
.profile-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding-top: 20px;
}

.stat-item:not(:last-child) {
  border-right: 1px solid rgba(255, 0, 221, 0.7);
}

.stat {
  font-size: 20px;
  font-weight: 300;
}
